@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. Student marks Section
   d. teacher review Section
   e. calendar Section
   f. resources section
   g. Testimonials Section - may not keep
   h. Contact Section - may not keep
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #FFF;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: scroll;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: top;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: top;
   margin: 0 auto;
   width: 85%;
   margin-top: 50px;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #B71616;/*color of text of h1*/
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 30px/1.9em 'librebaskerville-regular', serif;
   color: #000;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #B71616; /*original #FFF*/
}
header .banner-text h4 {
   font: 20px/1.9em 'librebaskerville-regular', serif;
   color: #7A7171;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h4 span,
header .banner-text h4 a {
   color: #B71616; /*original #FFF*/
}
header .banner-text hr {
   width: 100%;
   margin: 18px auto 24px auto;
   border-color: #FFF;
   border-color: rgba(150, 150, 150, .1);
}
/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
* {margin: 0; padding: 0;}
 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

